<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:theme="@style/Theme.Aqaarat"
        android:label="&#x639;&#x642;&#x627;&#x631;&#x627;&#x62A; &#x627;&#x644;&#x638;&#x627;&#x638;&#x627;"
        android:icon="@drawable/ic_launcher_text"
        android:roundIcon="@drawable/ic_launcher_text"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
